/* Import Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
@layer components {
    .form__input:focus ~ .form__label,
    .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
        @apply -top-2 left-3 text-xs;
    }
}

/* Root and scrollbar styles */
:root {
    overflow-y: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; 
}

/* Button styles */
.but {
    width: 320px;
    background-color: rgb(113, 63, 18);
    padding: 8px;
    font-size: 22px;
    margin: 10px 10px;
    border: solid 1px rgb(254 249 195);
    border-radius: 10px;
}

.butt {
    background-color: rgb(254 240 138);
    color: rgb(113, 63, 18);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 8px 18px;
    font-size: 22px;
    margin: 10px 5px;
    border: solid 1px rgb(254 249 195);
    border-radius: 10px;
}

.but:hover {
    background-color: rgba(66, 32, 6, 0.758);
}

.butt:hover {
    background-color: rgb(254 249 195);
}

/* Responsive clip path styles */
@media (min-width: 640px) {
    .clip-me {
        z-index: 0;
        clip-path: polygon(5% 10%, 90% 30%, 95% 70%, 7% 90%);
    }
}

.clip-bg {
    z-index: 0;
    clip-path: polygon(7% 26%, 95% 5%, 94% 80%, 7% 70%);
}

.placeholder:empty:before {
    content: attr(data-placeholder);
    color: gray;
    @apply text-gray-400;
}
